<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>651049222930-3tr3hq4dgvhvtvppla2fn4dmtp1622ip.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.651049222930-3tr3hq4dgvhvtvppla2fn4dmtp1622ip</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>651049222930-qq0g7faj5aqln3ql4oaf9g5133671pr1.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCKbo74K_fULCJHLyp3Pz1lCLDjWJ6uXaA</string>
	<key>GCM_SENDER_ID</key>
	<string>651049222930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.app-labs.dostawemo</string>
	<key>PROJECT_ID</key>
	<string>dostawemo-3c0a1</string>
	<key>STORAGE_BUCKET</key>
	<string>dostawemo-3c0a1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:651049222930:ios:5c004685cae16aca</string>
	<key>DATABASE_URL</key>
	<string>https://dostawemo-3c0a1.firebaseio.com</string>
</dict>
</plist>